<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="css/style.css"/>
    <title><%= name %>!</title>
  </head>
  <body>
  <h1>Pokemon Memory Game</h1>
  <p class = "instructions">
    Memory - Find all the pairs of the same Pokemon creatures in the least no. of clicks and in the shortest time. Good luck!
  </p>
  <!-- <div class="status-bar"> -->
        <button class='play' type="button" name="play">Play!</button>
  <!-- </div>   -->
  <div class="inform">
    <span class = 'timer hidden'>
      Time:
    </span>
    <span class="clicks hidden">
      Clicks:
    </span>
    <p class = 'result'>
    </p>
  </div>
  <div class="container hidden">
    <div class="card unmatched"></div>
    <div class="card unmatched"></div>
    <div class="card unmatched"></div>
    <div class="card unmatched"></div>
    <div class="card unmatched"></div>
    <div class="card unmatched"></div>
    <div class="card unmatched"></div>
    <div class="card unmatched"></div>
    <div class="card unmatched"></div>
    <div class="card unmatched"></div>
    <div class="card unmatched"></div>
    <div class="card unmatched"></div>
    <div class="card unmatched"></div>
    <div class="card unmatched"></div>
    <div class="card unmatched"></div>
    <div class="card unmatched"></div>
    <div class="card unmatched"></div>
    <div class="card unmatched"></div>
    <div class="card unmatched"></div>
    <div class="card unmatched"></div>
    <div class="card unmatched"></div>
    <div class="card unmatched"></div>
    <div class="card unmatched"></div>
    <div class="card unmatched"></div>
  </div>
  <div class="wrap">
    <button class='reset hidden' type="button" name="reset">Reset</button>
  </div>

  <script
          src="https://code.jquery.com/jquery-2.2.4.min.js"
          integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
          crossorigin="anonymous">
  </script>
  <script src="js/main.js"></script>
  </body>
</html>
